.gallery {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.gallery-item {
  padding: 16px;
  width: 315.33%; /* Adjust as needed based on the number of columns */
}

.gallery-image {
  width: 100%;
  height: auto;
}
